<!DOCTYPE html>

<html >
    <head>
        <title>Registra una Editorial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        
        <div>Bienvenido al portal de editoriales</div>
        <header>
            <div class="container">
                <h2>Carga la Editorial AQUI</h2>
            </div>
        </header>
        
        <div class="container">
            <form th:action="@{/editorial/registro}" method="POST">
                
                <div class="form-group">
                    <input type="text" name="nombre" class="form-group" placeholder="Nombre de la Editorial">
                </div>
                
                <button type="submit" class="btn btn-primary"> Subir </button>
                
                <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
                    <div class="card-body">
                        <h5 class="card-title"> Error 😕🥺🤕</h5>
                        <p class="card-text" th:text="${error}"></p>
                    </div>
                </div>
                    
                <div th:if="${exito != null}" class="card text-white bg-danger mb-3 mensajeExito">
                    <div class="card-body">
                        <h5 class="card-title">✨ Éxito 🎉</h5>
                        <p class="card-text" th:text="${exito}"></p>
                    </div>
                </div>
                
            </form>    
        </div>
        
    </body>
</html>
